@using OpenDSM.Lib.Auth
@{
    User user = (User)(ViewData["User"] ?? null);
    bool IsLoggedIn = user != null;
    string activePage = (string)(ViewData["page"] ?? "");
}

<nav>
    <a id="brand" href="/" title="Go Home" class="undecorated">
        <img src="/assets/images/logo.svg" alt="">
        OpenDSM
    </a>
    <span style="width: 100%;"></span>
    <i class="fas fa-bars" id="menu-button"></i>
    <div id="nav-items">
        <a class="nav-item active undecorated @(activePage == "home" ? "active" : "")" id="home-nav-item" href="/">
            <i class="fa-solid fa-house"></i>
            <p class="name">Home</p>
        </a>
        <a class="nav-item undecorated @(activePage == "search" ? "active" : "")" id="search-nav-item" href="/search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <p class="name">Search</p>
        </a>
        @if (IsLoggedIn)
        {
            <a class="nav-item undecorated @(activePage == "profile" ? "active" : "")" id="profile-nav-item" href="/auth/">
                <div class="profile-icon" style="background-image: url('@user.ProfileImage');"></div>
                <p class="name">Profile</p>
            </a>

            <a class="nav-item undecorated @(activePage == "create-project" ? "active" : "")" id="profile-nav-item" href="/auth/create">
                <i class="fas fa-plus"></i>
                <p class="name">Create Project</p>
            </a>
        }
        else
        {
            <a class="nav-item undecorated @(activePage == "login" ? "active" : "")" id="login-nav-item" href="/auth/">
                <i class="fa-solid fa-user"></i>
                <p class="name">Login</p>
            </a>
        }
    </div>
</nav>