@using OpenDSM.Lib.Objects;
@model OpenDSM.Lib.Auth.User

<main class="row" id="search-box">

    <div id="sidebar">
        <div class="content">
            <section id="product-header">
                <div id="product-icon" style="background-image: url('@Model.ProfileImage');"></div>
            </section>
            <section id="profile-info">
                <p class="name">@Model.Username</p>
                <p class="description">@Model.Description</p>
            </section>

            <span class="centered">
                <a class="btn lg undecorated" id="logout-btn">LOGOUT</a>
            </span>
        </div>
    </div>
    <span style="width: 100%;">
        <div class="row">
            <div class="content" style="overflow: auto;max-height: calc(100vh - 80px);">

                <div id="page-nav">
                    <div class="page-nav-item" page="overview">Overview</div>
                    <div class="page-nav-item" page="library">My Library</div>
                    <div class="page-nav-item" page="sellers">Sellers Portal</div>
                </div>

                <div id="page-view">
                    <div id="overview-page-view" class="page-view-item">
                        <div class="row" style="flex-wrap: wrap;">
                            <div class="col" style="margin-left: 1rem;width: 20%;
                            min-width: 200px;">
                                <div class="image-upload" style="background-image: url('/assets/images/testing/profile-image.jpg');"> </div>
                                <p>Read documentation on Images <a href="/">HERE</a></p>
                                <span>
                                    <toggle name="Is Developer" value="true" id="is_developer_toggle"></toggle>
                                    <toggle name="Show Github" value="true" id="show_github_toggle"></toggle>
                                </span>
                                <h2>Liked Tags:</h2>
                                <span class="col">
                                    <input type="text" id="tag_input">
                                    <div class="tag">Desktop</div>
                                    <div class="tag">Desktop</div>
                                </span>
                            </div>
                            <div class="col" style="margin-left: 1rem;width: 70%; ">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Short Description">
                                <Textarea placeholder="Long Description" rows="12"></Textarea>
                                <input type="text" placeholder="Github Token">
                            </div>
                        </div>
                    </div>
                    <div id="library-page-view" class="page-view-item">

                        <div class="list horizontal">
                            @foreach (var product in Products.Instance.GetFromUser(Model))
                            {
                                <div class="product-item md">
                                    <div class="icon" style="background-image: url('@product.Icon');"></div>
                                    <div class="content">
                                        <p class="name">@product.Name</p>
                                        <p class="description">@product.Description</p>
                                    </div>
                                    <div class="extra">
                                        <span>
                                            <i class="extra-icon fa-solid fa-dollar-sign"></i>
                                            <p class="extra-value">FREE</p>
                                        </span>
                                        <span>
                                            <i class="extra-icon fa-solid fa-download"></i>
                                            <p class="extra-value">25M</p>
                                        </span>
                                        <span>
                                            <i class="fa-solid fa-star extra-icon"></i>
                                            <p class="extra-value">4.5/5</p>
                                        </span>
                                    </div>
                                </div>
                            }

                            <div class="product-item md not-installed">
                                <div class="icon" style="background-image: url('https://lfinteractive.net/assets/images/magic-dm-wallpaper.svg');"></div>
                                <div class="content">
                                    <p class="name">Test Item #0</p>
                                    <p class="description">Description</p>
                                </div>
                                <div class="extra">
                                    <span>
                                        <i class="extra-icon fa-solid fa-dollar-sign"></i>
                                        <p class="extra-value">FREE</p>
                                    </span>
                                    <span>
                                        <i class="extra-icon fa-solid fa-download"></i>
                                        <p class="extra-value">25M</p>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-star extra-icon"></i>
                                        <p class="extra-value">4.5/5</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sellers-page-view" class="page-view-item">
                        <h1 class="centered">Please read and accept our Terms and Conditions</h1>
                        <div id="tos">
                        </div>
                        <span class="centered">
                            <span class="col">
                                <toggle name="I Accept"></toggle>
                                <div class="btn md">Finalize</div>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </span>
</main>