@using OpenDSM.Core.Models
@{
    bool isLoggedIn = (bool)(ViewData["IsLoggedIn"] ?? false);

    UserModel user = isLoggedIn ? (UserModel)ViewData["User"] : null;
}
<nav>
    <a class="brand" href="/">
        <img src="/assets/images/logo.svg" alt="">
        <h4>OpenDSM</h4>
    </a>
    <div id="nav-items">
        @Html.ActionLink("Home", "Index", "Home", new {}, new{@class="btn secondary"})
        @Html.ActionLink("Search", "Search", "Home", new {}, new{@class="btn secondary"})
        <span class="separator vertical"></span>
        @if (isLoggedIn)
        {
                <a href="/profile/" class="profile-image" style="background-image: url('/api/auth/image/profile?id=@user.Id');"></a>
        }
        else
        {
            @if (ViewData["ref"] != null)
            {
                @Html.ActionLink("Sign Up", "Signup", "Auth", new {@ref=ViewData["ref"]}, new{@class="btn secondary"})
                @Html.ActionLink("Login", "Login", "Auth", new {@ref=ViewData["ref"]}, new{@class="btn"})
            }else{
                @Html.ActionLink("Sign Up", "Signup", "Auth", new {}, new{@class="btn secondary"})
                @Html.ActionLink("Login", "Login", "Auth", new {}, new{@class="btn"})
            }
        }
    </div>
</nav>