@using OpenDSM.Core.Models
@using OpenDSM.SQL
@model ProductModel
<div class="product lg">
    <img src="@Model.BannerUrl" alt="" onclick="window.location.href='/product/@Model.Id'">
    <div class="content">
        <h4 class="name" onclick="window.location.href='/product/@Model.Id'">@Model.Name</h4>
        <a href="/profile/@Model.UserID" class="author paragraph-4">@UserModel.GetByID(@Model.UserID).Username</a>
        <p class="description paragraph-4">@Model.Tags[0]</p>
        <span class="platforms">
            @foreach (Platform platform in Model.Platforms)
            {
                if (platform == Platform.Windows || platform == Platform.WindowsARM)
                {
                    <i class="fab fa-windows"></i>
                }
                else if (platform == Platform.Mac || platform == Platform.MacARM)
                {
                    <i class="fab fa-apple"></i>
                }
                else if (platform == Platform.Linux || platform == Platform.LinuxARM)
                {
                    <i class="fab fa-linux"></i>
                }
            }
        </span>
    </div>
</div>